li {
  list-style: none;
}

img {
  width: calc(3rem + 1.5vw);
  height: calc(3rem + 1.5vw);
}

a {
  text-decoration: none !important;
}

img ~ h1 {
  line-height: 1.6;
}

.active-link {
  color: black;
}

.active-link:hover {
  color: rgb(63, 63, 63);
}
